.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app_container {
  height: 800px;
  width: 450px;
  display: flex;
  flex-direction: column;
}

.app_title {
  background-color: rgb(120, 109, 219);
  text-align: center;
}

.app_text_history {
  background-color: white;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: auto;
  text-overflow: clip;
}

.app_message_container {
  display: flex;
  width: 100%;
}

.divider {
  height: 30px;
  width: 1px;
  background-color: black;
  display: block;
  margin-left: 225px;
}

.app_message_bot {
  background-color: rgb(61, 120, 175);
  max-width: 225px;
  width: max-content;
  padding: 20px;
  margin: 10px;
  word-wrap: break-word;
  text-overflow: clip;
}

.app_message_client {
  background-color: rgb(133, 133, 53);
  max-width: 225px;
  width: max-content;
  padding: 20px;
  margin: 10px;
  word-wrap: break-word;
  text-overflow: clip;
}

.app_text_input {
  width: 450px;
}